h1, h2, h3, h4,p,a {
    font-family: 'Dosis', sans-serif;
    color:$azul;
}
h1 {
    font-size: 52px;
    color: white;
}
h2 {
    font-size: 32px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.link {
    padding: 8px 24px;
    color: white;
    position: relative;
    &::after{
        content: "";
        display: block;

        position: absolute;
        top: 100%;
        left: 0;

        width: 0%;
        height: 2px;

        background-color:$azul;

        transform: translate(15%, -50%);

    }
    &:hover{
        opacity: 0.5;
        transition: 1s ease;
        &::after{
            width: 80%;
            transition: 0.5s ease;
        }
    }
}
.mask {
    display: inline-block;
    background: linear-gradient(255deg,#00ffff 0%,rgb(28, 109, 109)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.square{
    padding:16px 24px;
    font-size: 18px;
    font-weight: bolder;

    display: inline-block;
    margin-top: 64px;
    position: relative;
    left:20px;

    &::after{
        content: "";
        display: block;

        width: 120px;
        height: 120px;

        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;

        transform: translate(-05%, -30%) rotate(45deg);
        background-color: white;
        border-radius: 4px;
        background: linear-gradient(255deg,#00ffff 0%,rgb(28, 109, 109)100%);
        transition: 0.5s ease;


    }
    &:hover{
        &::after{
            transform: translate(-05%, -30%) rotate(135deg);
        }
    }
}